[submodule "pero-ocr"]
	path = pero-ocr
	url = https://github.com/xraurp/pero-ocr.git
	branch = logits_buffers
[submodule "pero-worker-libs"]
	path = pero-worker-libs
	url = git@github.com:DCGM/pero-worker-libs.git
