# processing system dependencies
kazoo
pure-sasl
pika
protobuf
python-magic
requests
paramiko

# pero OCR dependencies
numpy
opencv-python
lxml
scipy
numba
torch
torchvision
brnolm
scikit-learn
scikit-image
tensorflow-gpu
shapely
pyamg
imgaug
arabic_reshaper

