# enviroment variables for docker compose

ZOOKEEPER_CONFIG=/etc/zookeeper
ZOOKEEPER_DATA=/var/lib/zookeeper

RABBITMQ_CONFIG=/etc/rabbitmq
RABBITMQ_DATA=/var/lib/rabbitmq

SFTP_DATA=/var/lib/sftp

USERNAME=pero
PASSWORD=pero_pass

# Uses HOST_NAME instead of HOSTNAME variable
# to avoid conflict with bash variable
HOST_NAME=example_host
