# environment variables for docker compose

ZOOKEEPER_CONFIG={{ zookeeper_config_dir }}
ZOOKEEPER_DATA={{ zookeeper_data_dir }}
ZOOKEEPER_PORT={{ zookeeper_secure_port }}

RABBITMQ_CONFIG={{ mq_config_dir }}
RABBITMQ_DATA={{ mq_data_dir }}
MQ_AMQP_PORT={{ mq_amqp_port }}
MQ_MANAGEMENT_PORT={{ mq_management_port }}

SFTP_CONFIG={{ sftp_config_dir }}
SFTP_DATA={{ sftp_data_dir }}
SFTP_PORT={{ sftp_port }}

USERNAME={{ username }}
PASSWORD={{ password }}

# Uses HOST_NAME instead of HOSTNAME variable
# to avoid conflict with bash variable
HOST_NAME={{ host_name }}
