[LOGD]
zookeeper_servers={{ zookeeper_servers }}
username={{ username }}
password={{ password }}
ca_cert={{ ca_cert }}
log_queue=log
output_dir={{ output_dir }}
log_rotation_period=10080
number_of_files=10